
.hero {
    width: 90%;
    border: 4px solid #323e4c;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-sizing: content-box;
  margin: 3%;
  overflow: hidden;
}

#hero_content {
    width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 5%;
  font-family: courier;
}

ul.nav {
    list-style-type: none;
    margin: 3%;
    padding: 20px;
    overflow: hidden;
    background-color: #151a1e;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #a05337;
}

.article_container {
    width: 90%;;
    border: 4px solid #666563;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  box-sizing: content-box;
  margin: 3%;
  overflow: hidden;  
}

.article_inverse {
    width: 90%;
  border: 4px solid #ffffff;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  box-sizing: content-box;
  margin: 3%;
  overflow: hidden; 
}

.article_header {
  padding: 1em;
    color: #000000;
    background-color: #FFFFFF;
    clear: left;
    text-align: center;
      }
      
.center {
   text-align: center;
      }
